@model eBilet.Models.Producer

@{
    ViewData["Title"] = "Delete";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 ">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProfilePictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePictureURL)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
        </div>
    </div>
</div>
